package service
{{$ObjName := GonicCase .Table.Name}}
{{$VarObjName := FirstLower $ObjName}}

type {{$VarObjName}}Service struct {
}

func new{{$ObjName}}Service() *{{$VarObjName}}Service {
	inst := &{{$VarObjName}}Service{}
	return inst
}
